*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul li a{
    font: normal;
    font-size: 1rem;
}

.active{
    color: rgb(195, 0, 244);
    font-weight: bolder;

}

.activeP{
    background: #b224ff;
    color: white;
}

