* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul li a {
    font: normal;
    font-size: 1rem;
}

.active {
    color: rgb(0, 4, 244);
    font-weight: bolder;

}

.activeP {
    background: #3a24ff;
    color: white;
}